.card-body{
  border: 2px #b2b2b2 solid;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

.searchbtn{
  display: inline-grid;
    align-items: center;
}

.h-50{
  height: 50px;
}

.header-btn{
  // padding: 20px;
  background: #ee5151;
  border: #ee5151;
  color: white;
  border-radius: 12px;
}