<div class="card-body pl-5 pr-5 p-4">


  <div class="row">
    <div class="col-md-3">
      <app-input [labelText]="'Location'" [dropDownSelectMessage]="'Albama'" [inputType]="'dropdown'"
        [dropDownExpand]="false" [dropDownData]="[]">
      </app-input>
    </div>
    <div class="col-md-3">
      <app-input [labelText]="'Category'" [dropDownSelectMessage]="'Plumber'" [inputType]="'dropdown'"
        [dropDownExpand]="false" [dropDownData]="[]">
      </app-input>
    </div>
    <div class="col-md-3">
      <app-input [labelText]="'Hourly Rate'" [dropDownSelectMessage]="'20$'" [inputType]="'dropdown'"
        [dropDownExpand]="false" [dropDownData]="[]">
      </app-input>
    </div>
    <div class="col-md-3 searchbtn">
      <button class="btn btn-outline-success my-2 my-sm-0 h-50 header-btn" type="submit">Search Now</button>
    </div>
  </div>


</div>