.services-label{
    font-size: 20px;
    font-weight: normal;
}

.services-heading{
    width: 60%;
    font-weight: 800;
}

.next-label{
    position: absolute;
    right: 0;
    bottom: 0;
}

.red-brd{
    color: #ee5151
  }