<div class="row">

    <div class="col-md-6">
        <label for="" class="services-label red-brd">Services</label>
        <h2 class="services-heading">
            POPULAR SERVICES IN YOUR AREA
        </h2>
    </div>
    <div class="col-md-6 text-left">
        <label class="next-label red-brd">See all Catageory
            <i class="fa fa-arrow-right"></i>
        </label>
    </div>


    <div class="col-md-12 mt-5">

        <div class="row pl-0 pr-0">

            <div class="col-md-3" *ngFor="let service of services">
                <app-service-card [service]='service'></app-service-card>
            </div>

        </div>

    </div>

</div>