// Primary Colors
$primary-green: #00D184;
$primary-blue: #060C3B;
$link-green: #00B975;
$primary-grey: #FAFAFA;
$white: #FFFFFF;
$black: #000000;

// Validation Colors
$success-green: #6ac259;
$failed-red: #e50e0e;
$warning-yellow: #eec200;


// Fonts
$noto_sans: 'Noto Sans TC',
sans-serif;
$nunito_sans: 'Nunito Sans',
sans-serif;

// Box Shadow
$box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
